*{
    box-sizing:border-box;
    margin:0;
    padding: 0 ;
}
body{
    font-family: 'Segoe UI',sans-serif;
    background: #f4f6f9;
    color: #1a1a2e;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    padding: 12px !important;
  }
}